<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Details</title>
</head>

<body>
    <h1>
        <center>Location Details</center>
    </h1>
    <table border="1">
        <tr>
            <th>Srl No.</th>
            <th>IMEI</th>
            <th>Device UUID</th>
            <th>Driver Id</th>
            <th>Device Serial Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Person Name</th>
            <th>Asset Tracker</th>
            <th>Device Report Type Code</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Heading</th>
            <th>AppDriver Id</th>
            <th>AppDriver Name</th>
            <th>Eld Vehicle Id</th>
            <th>Date</th>
            <th>Edit Date</th>
            <th>Speed</th>
            <th>Speeding</th>
            <th>Behavior Cd</th>
            <th>EST Speed Limit</th>
            <th>Fleet Id</th>
            <th>Person Misc4</th>
            <th>Person Misc5</th>
            <th>Person Misc6</th>
            <th>Person Misc7</th>
            <th>Person Misc8</th>
            <th>Vin</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Fuel Level</th>
            <th>Battery</th>
            <th>Direction</th>
            <th>True Odo</th>
            <th>Virtual Odo</th>
            <th>Estimate dOdo</th>
            <th>Sensor Data</th>
            <th>Status</th>
        </tr>


        <!-- <tr>
            {% for i in get_id_records %}
            <td>{{i}}</td>
            {% endfor %}
        </tr> -->

    </table>

    <p>Back to <a href="/">Tracker Dashboard</a></p>
</body>

</html>